<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Frozen Quartz Paper" value="FQP"/>
    <add key="White Direct Thermal Freezer Paper" value="TEFP"/>
    <add key="Matt Clear Polypropylene" value="PMCP / PMCR"/>
    <add key="Matt White Aluminium Back Coated Paper" value="WASP"/>
    <add key="Matt White Luxury Paper" value="CSC"/>
    <add key="Matt White Opaque Paper" value="MOP"/>
    <add key="Matt White Paper" value="WTP/ WTR / WTSP/ WTDP / FABP / PGWS / PGWR"/>
    <add key="Matt White Polyethylene" value="PETC / PETH / PETP"/>
    <add key="Matt White Polypropylene" value="MWP"/>
    <add key="Matt White PVC" value="PVUD"/>
    <add key="Economy White Direct Thermal Paper" value="TEP / TER"/>
    <add key="Gloss Clear Polypropylene" value="PGCP / PGCR"/>
    <add key="Direct Thermal Matt White Polypropylene" value=" TWPP / TWPR"/>
    <add key="Gloss White Inkjet Paper" value="GWIP"/>
    <add key="Gloss White Inkjet Polypropylene" value="PWIP"/>
    <add key="Gloss White Polypropylene" value="PGWP / PWRR"/>
    <add key="High Gloss White Paper" value="HGP"/>
    <add key="Semi Gloss White Opaque Paper" value="SGOP"/>
    <add key="Semi Gloss White Paper" value="WGP / WGR"/>
    <add key="Semi Gloss white Thermal Transfer Freezer Paper" value="SGP"/>
    <add key="White Direct Thermal Semi Top Coat Paper" value="TSP"/>
    <add key="White Vellum Thermal Transfer Paper" value="VLP / VLR"/>
    <add key="Brown Parcel Paper" value="BPP"/>
    <add key="Luxury Brown Paper" value="MLB"/>
    <add key="Coated Bright Silver Paper" value="CBSP"/>
    <add key="Coated Bright Silver Polypropylene" value="PBSP"/>
    <add key="Matt Silver Paper" value="SRP"/>
    <add key="Fluorescent Green Paper" value="FGNP"/>
    <add key="Fluorescent Orange Paper" value="FORP"/>
    <add key="Fluorescent Pink Paper" value="FPNP"/>
    <add key="Fluorescent Red Paper" value="FRDP"/>
    <add key="Fluorescent Yellow Paper" value="FYWP"/>
    <add key="Luxury Cream Paper" value="FMC"/>
    <add key="Luxury Sand Paper" value="MLS"/>
    <add key="Matt Yellow Paper" value="YWP"/>
    <add key="Economy Direct Thermal Yellow Paper" value="TEPY / TERY"/>
    <add key="Luxury Terracotta Paper" value="MLT"/>
    <add key="Matt Black Vinyl" value="MBV"/>
    <add key="Matt Blue Paper" value="BEP"/>
    <add key="Matt Gold Paper" value="GDP"/>
    <add key="Matt Green Paper" value="GNP"/>
    <add key="Matt Orange Paper" value="ORP"/>
    <add key="Matt Red Paper" value="RDP"/>
  </appSettings>  
</configuration>